:host{
    
    display: flex;
    background: #000000;
    padding: 1.5em;
}

p{
    font-family: 'Times New Roman', serif;
    font-size: 1.15em;
    color: white;
    text-align: center;
    
}

::ng-deep .mat-list-item {
    color: gold;; /* Zmień kolor na dowolny, np. czerwony (red) */
  }