<header>
   
   
        <div class="logo">
            Logo
        </div>

        <div class="links">

            <div class="left-side">
                <a routerLink="">Strona Glowna</a>
                <a routerLink="/products">Produkty</a>
                
            </div>

             <div class="right-side">
                  <a routerLink="/login">
                    <mat-icon>account_circle</mat-icon>
                  </a>
                  <mat-icon>shopping_cart</mat-icon>
             </div>

        </div>
        
   
</header>