:host {
        background-color: #9c8fd8; /* Kolor tła nagłówka */
        padding: 1em;
        display: flex;
        flex-direction: column;
        color: #ffffff;
        
    }



.logo{
    text-align: center;
}

.links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-side{
    justify-content: left;
}

.right-side{
    justify-content: flex-end;
}

a{
    padding: 1em;
}