:host{
    background: #b68be0;
    color: #000000;    
}

button{
    margin-right: 2em;
    color: white;
    background: #000000;
    border: #000000;
    padding: 0.75em;
    border-radius: 20%;
}

button:hover{
    color: gold;
    transition: 0.4s;
}

mat-card{
    margin: 2em;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2em;

}

.product-main{
    display: flex;
    flex-direction: column;
}

.photo-info{
    display: flex;
    flex-direction: row;
    margin-top: 2em;

}



