
div{
    margin-top: 1vw;
    margin-bottom: 2vw;
}

table{
    width: 100%;
}

.mat-column-id{
    width: 10%;;
}

a{
    color: black;
}
a:hover{
    color: rgb(180, 170, 81);
}

.add_product_btn{
    text-align: center;
    border-radius: 2vw;
    padding: 0.5vw;
    background-color: black;
    color: white;
    font-size: 0.7vw;
}

.add_product_btn:hover{
    text-align: center;
    border-radius: 2vw;
    padding: 0.5vw;
    background-color: black;
    color: rgb(202, 177, 36);
}