:host{
    background: #000000;
    padding: 20px;
    font-size: 0.75em;
    color: white;
}

.footer-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 8em;
    padding-right: 8em;
}