:host{
    display: flex;
    flex-direction: column;
    height: 100%;
    
    
}
.container{
    display: flex;
    flex: 1 1 auto;
}

.sidebar{
    flex-basis: 15%;
    background: black;
}

.content {
    padding: 2em;
    flex: 1 1 auto;
}


